body{
    font: 15px/1.5 Arial, Georgia;
    padding:0;
    margin:0;
    background-color:#ff5100;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#ff5100;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff
}
header{
    background:#ff7b2e;
    color:#ffffff;
    padding-top:30px;
    min-height:70x;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16x;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10x;
}

head .highlight, header .current a{
    color:#cccccc;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

#showcase{
    min-height:400px;
    
    
}

#newsletter{
    padding:15px;
    color:#b61a1a;
    background:#000000
}

#newsletter h1{
    float:left;

}

#newsletter form{
    float:right;
    margin-top:15px;
}

#newsletter input[type="string"]{
    padding:4px;
    height:25px;
    width:250px;

}